body {
  background-color: #e5e5e5;
}

.page {
  position: relative;
  width: 1280px;
  margin: 0px auto;
  text-align: center;
  background-color: #fff;
  margin: 65px auto;
  padding: 65px 120px;
}

header {
  font-family: "Inter", sans-serif;
  font-size: 22;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 58px 0;
}

header span {
  color: #89c5cc;
  font-weight: 900;
  font-size: 22px;
}

header nav {
  color: #1f1534;
  display: flex;
  gap: 48px;
  font-size: 18px;
  opacity: 0.5;
}

header nav a:hover {
  opacity: 1;
  text-shadow: 0 1px;
}

main {
  display: flex;
  gap: 102px;
}

#text-content {
  margin: 51px auto;
  text-align: left;
  font-family: "Mulish", sans-serif;
}

#text-content h1 {
  font-size: 56px;
  margin-bottom: 40px;
}

#text-content h1 strong {
  color: #89c5cc;
  font-weight: 700;
}

#text-content p {
  margin-bottom: 40px;
  color: #7d7987;
  line-height: 28px;
}

#text-content p strong {
  font-weight: 700;
}

#text-content button {
  font-size: 16px;
  font-weight: 600;
  color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #69b99d;
  padding: 14px 32px 15px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: transform 0.5s ease;
}

#text-content button:hover {
  transform: scale(1.1);
}

#text-content button img {
  padding-right: 10px;
}

footer {
  margin-top: 80px;
  font-family: "Mulish", sans-serif;
}

footer a {
  font-weight: 700;
}

#decoration {
  position: absolute;
  bottom: 0;
  right: 0;
}
